html, body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F55A5A;
    height: 55px;
}

header > img {
    height: 24px;
    width: 24px;
}

header > h1 {
    margin-left: 7px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14.46px;
    font-weight: 500;
    line-height: 17.5px;
    letter-spacing: -0.075em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}